/* font-style */
h5 {font-size: 1.6rem; font-weight: bold;}
.p-code {color:var(--pink); font-size: 1rem; font-weight: 300;}
.textArea {font-size: 1.5rem; font-weight: 300; line-height: 150%;     word-break: keep-all;}

/* after_style */
.side_line:after {
    content: '';
    width:1px; height: 8px;
    background: var(--line-gray);
    display: inline-block;
    margin-left: .4rem;
}
/* display */
.hidden {display: none;}


/* ==== 베스트 100 css ==== */
  /* cateBtnWrap */
  .py30 {padding:3rem 2rem;}
  .cateBtnWrap .grid .cateBtn img {
    border:1px solid var(--line-gray);
    border-radius: 20%;
  }
  .cateBtnWrap .grid .cateBtn .text {
    padding: 1rem 0;
    font-size: 1.2rem;
    color:var(--gray);
  }
  /* cateBtnWrap->active */
  .cateBtnWrap .grid .cateBtn.active img, .cateBtnWrap .grid .cateBtn:hover img {  
  border: 1px solid var(--red); 
}
.cateBtnWrap .grid .cateBtn:first-child.active img,.cateBtnWrap .grid .cateBtn:first-child:hover img {    
  filter: invert(26%) sepia(85%) saturate(5102%) hue-rotate(346deg) brightness(91%) contrast(106%);
}
.indeximgff {filter: none !important;}
.cateBtnWrap .grid .cateBtn.active .text,.cateBtnWrap .grid .cateBtn:hover .text {
  color:var(--red); 
  font-weight: bold;
}
/* tagBtnWrap */
.tagBtnWrap {
  max-width: 390px;
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.tagBtnWrap::-webkit-scrollbar {
  display: none;
}

.tagSwiper .swiper-slide {
  width: auto !important;
}
.tagBtnContainer {
  display: flex;
  gap: 0.4rem;
  width: max-content;
}
.tagBtn {
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  border: 1px solid var(--line-gray);
  border-radius: 50px;
  background-color: white;
  color: #999;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.tagBtn.active {
  background-color: var(--bl);
  color: white;
  border-color: var(--bl);
}

/* product */
.productContainer button {
  background: none;
  border: none;
  cursor: pointer;
}
.productContainer > .flex {padding: 2rem 0;}
.product-contens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.product {
  box-sizing: border-box;
  transition: width 0.3s ease-in-out;
}
.product >* {margin-bottom: 1rem;}

.product .flex .st {font-size: .8rem;}
.product .rank {display:flex; align-items: center; font-size: 1.4rem; font-weight: 500;}
.product .rank .ranking {background: var(--pink); color:#fff; width:20%; text-align: center;}
.product h5.red span {color:var(--bl); font-weight: 300;}
.product .textBox {font-size: 1.2rem; color: var(--bl); line-height: 120%;
}
.product .textBox p {
  display: -webkit-box;
    -webkit-line-clamp: 2; /* 3줄로 제한 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.2rem * 2 * 1.25);}
.product .textBox .p-code .st {display: none;}
.product .imgArea img {
  border:1px solid var(--line-gray);
  border-radius: 15%;
  transition: all .8s ease-in-out; 
}
.product .imgArea.rel::before, .product .imgArea.rel::after {
  position: absolute; right:10%; height: 25px; 
}
.product .imgArea.rel::before {
  content: ''; 
  background: no-repeat center / cover url('../img/product_tag.png');;
  width: 20px; top:0; z-index: 0; transform: translateX(10%) translateY(0);
}
.product .imgArea.rel::after {
  content: '무료인쇄'; 
  width: 16px; color:#fff; font-size: .8rem; top:2%; z-index: 0;
  transform: translateX(10%) translateY(2%);
}
/* 하나씩 보일 때 이미지 스타일 변경 */
.product-contens.expanded {grid-template-columns: repeat(1, 1fr); gap: 3rem;}
.product-contens.expanded .product .st {font-size: 1.2rem; width:auto;}
.product-contens.expanded .product .rank {font-size: 1.8rem;}
.product-contens.expanded .product .rank .ranking {width:50px; }
.product-contens.expanded .product .imgArea img {border-radius: 0%;}
.product-contens.expanded .product .imgArea.rel::before {width: 11%; height: 13%; transform: translateX(10%) translateY(0);}
.product-contens.expanded .product .imgArea.rel::after {width: 26px; height: auto; font-size: 1.4rem; right: 11%; transform: translateX(11%) translateY(2%);}
.product-contens.expanded .product .textBox {font-size: 1.8rem; font-weight: bold;}
.product-contens.expanded .product .textBox p {-webkit-line-clamp: 1; height: calc(1.2rem * 3 * .7);}
.product-contens.expanded .product .textBox .p-code {font-size: 1.4rem;}
.product-contens.expanded .product .textBox .p-code .st {display: inline-block; line-height: 100%;}
.product-contens.expanded .product h5 {font-size: 2rem;}


/* ==== 납품사례 css ==== */
.searchWrap.flex {align-items: stretch;}
.searchWrap .topBar_search input {border-color:var(--line-gray); border-radius: .8rem;}
.sch_btn {background: var(--gray); color:#fff; white-space: nowrap;
font-size: 1.6rem; padding: .8rem 1.5rem; border-radius: .8rem;}

/* business-view */
.business-view {
  position: absolute;
  top: 180px;
  left: 0;
  background: var(--red);
  color: #fff;
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0 .4rem .4rem 0;
  padding: .5rem;
  z-index: 10;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: min-content !important;
  box-sizing: border-box;
}

.slide-panel {
  position: absolute; /* wrap 기준으로 고정됨 */
  top: 138px;
  left: -100vw; /* 왼쪽으로 숨겨진 상태 */
  width: 390px;
  height: calc(100% - 138px);
  background: #fff;
  z-index: 20;
  transition: left 0.3s ease-in-out;
  padding-top:20px;
}

.slide-panel.open {
  left: 0;
}

.close-btn {
    display: flex;
    align-items: center;
  margin: 1rem;
  padding: 0.4rem 1rem;
  border: 1px solid var(--line-gray);
  color: var(--gray);
  cursor: pointer;
  border-radius: 50px;
  font-size: 1.4rem;
}
/* 상품 이미지 슬라이드 */
.pd_Swiper.imgArea {width:123px;} 
.pd_Swiper.imgArea.rel::before,.product .imgArea.rel::after {z-index: 3;}
/* 상품카테고리 */
.productCate , .product .date { display: none;}
.productCate {font-size: 1.2rem; font-weight: normal; line-height: 100%;}
.productCate .ye {background:#FFFF00; }
/* 납품사례 더보기버튼 */
.caseBtn {text-align: center; background: var(--bl); color: #fff; font-size: 1.6rem; width: 100%; display: none; justify-content: center; align-items: center; padding:.6rem 2rem; border-radius: 50px;}

/* 하나씩 보일 때 이미지 스타일 변경 */
.product-contens.expanded .productCate ,.product-contens.expanded .product .date {display: block;}
.product-contens.expanded .caseBtn {display:flex;}
.product-contens.expanded .pd_Swiper.imgArea {width:390px;} 

/* ==== 상품평 css ==== */
.riview-Wrap >* {margin-bottom: 2rem;}
.riview-Wrap >*:last-child {margin-bottom: 0;}
.re-title {font-size: 2rem; font-weight: bold; text-align: center;}
.select-box {
    width: 100%;
    max-width: 20%;
    position: relative;
    display: flex;
  }
/* select */
.select-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: inherit;
    border-color:var(--line-gray);
    border-radius: .8rem;
    padding: 0.8rem 1.4rem;
    cursor: pointer;
    outline: none;
    font-size: 1.4rem;
    letter-spacing: -0.03rem;
    color:var(--gray);
    width: 100%;
  }
  
  .select-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray);
    transition: transform 0.15s ease-in;
    pointer-events: none;
  }

/* ---------- Main Tab : 메인탭 ---------- */
.maintab-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.maintab {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}
.maintab > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  box-sizing: border-box;
 -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.maintab > li a {
     display: flex;
     align-items: center;
     justify-content: center;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  color: var(--gray);
  padding: .6rem 2rem;
  height: 100%;
  border-bottom: 1px solid var(--line-gray);  
  box-shadow: 0 2px 4px rgba(var(--bl), 1);
    -webkit-transition: all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;

}
.maintab > li.active a {
  color: var(--bl);
  font-weight: 500;
  border-bottom: 1px solid var(--bl);
}
/* .maintab > li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: var(--bl);
} */
.maintab > li.active:hover a,
.maintab > li.active {
  cursor: default;
}

.tabcontents {
  display: block;
}
.tabcontents .tabcon {
  display: none;
  padding: 10px 0px;
  font-size: 1.6rem;
}
.tabcontents > div.active {
  display: block;
}

/* reviewBox */
.reviewBox >* {border-bottom: 1px solid var(--line-gray);}
.re-info {display: flex; gap: .5rem; }
.re-info .img {max-width: 80px; outline:1px solid var(--line-gray);}
.re-info .textBox {display: flex; flex-flow: column; justify-content: space-between; padding: .5rem 0; width: 80%;}
.re-info .textBox > p{font-size: 1.4rem; font-weight: 500; line-height: 150%; } 
.re-info button img {width:20px;}

.rating {font-size: 1.1rem;}
.rating p {color:var(--gray)}

/* starBox */
.starBox {display:flex; align-items: center;}
.star {letter-spacing: -1px;}
.star .ri-star-fill {color: var(--red);}

/* review */
.review, .reply {padding: 1.5rem 1rem;}
.review.hidden, .reply.hidden  {display: none;}
.review >*,.reply >* {margin-bottom: 1rem;}
.review >*:last-child,.reply >*:last-child {margin-bottom: 0;}
.review .top {gap: .5rem;}
.review .top .left {display: flex; flex-flow: column; gap: .5rem;}
.review .top .right i , .review .bottom {color:var(--gray);}
.re-text {line-height: 150%;}
.re-text b {font-size: 1.8rem;}
.re-text.collapsed p {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;}
.remoreBtn {display: flex; align-items: center; color:var(--gray);font-size: 1.4rem; }

/* 답글 */
.reply {background:#f5f5f5;}
.reply .textArea {color:#666;}


/* 화살표 회전 애니메이션 */
.arrow-icon,.more-arrow {
  transition: transform 0.3s ease;
}
.arrow-icon.rotate,.more-arrow.rotate {
  transform: rotate(180deg);
}